.ag1-div {
    background-image: url(../src//images/agents.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
  }
  .propPrice {
    display: flex;
  }
  .ag1-style {
    margin-top: 0%;
    width: 90%;
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    row-gap: 4rem;
    justify-content: center;
    align-items: center;
  }
  .ag1divi {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 90%;
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    row-gap: 4rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 18, 88, 0.5);
  }
  .imageAgResize {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
  }
  
  .fullScreenImageag {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
  }
  .ag1photo {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .imageAgResize {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: contain;
  }
  .ag1-det {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 70%;
  }
  .buttonag:hover {
    color: rgb(255, 255, 255, 0.5);
  }
  .buttonag {
    font-size: 1.2rem;;
    border-radius: 5px;
    margin-top: 2%;
    background-color: rgb(86, 94, 129);
    color: white;
  }
  .agwinter {
    width: 90%;
  }
  .parent-arrowag {
    align-self: center;
  
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .ag1-writing {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 50%;
  }
  .leftarrowag {
    background: none;
    border: 0px;
  }
  .coverag {
    position: relative;
    width: 80%;
  }
  .scroll-devsag {
    width: 82%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
    margin-left: 10%;
  }
  .child-imageag {
    width: 90%;
    height: 90%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .childag {
    max-width: 90%;
    height: 90%;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .child-image-buttonag {
    margin-top: 4%;
    height: 90%;
    width: 90%;
    background-color: rgb(86, 94, 129, 0.5);
    color: white;
    border-radius: 5px;
    text-align: center;
  }
  .photoo {
    width: 50%;
    height: 25%;
  }
  .arrows-heightsag {
    height: 50%;
    width: 50%;
    object-fit: contain;
  }
  .leftarrowprop {
    height: 50%;
    width: 50%;
    object-fit: contain;
  }
  .ag1pag {
    display: flex;
    flex-direction: row;
  }
  .ag1title {
    font-size: 3rem;
    font-family: var(--bs-body-font-family);
    text-align: center;
    margin-top: 3%;
    color: white;
  }
    
  .desag1 {
    color: white;
    font-size: 20px !important;
  }
  
  .ag-title {
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: white;
  }
  
  
  /* Responsive Styles for width 768px */
@media (max-width: 768px) {
  .buttonag {
    font-size: 1.5rem;
    margin-top: 1%;
  }
}

/* Responsive Styles for width 576px */
@media (max-width: 576px) {
  .buttonag {
    font-size: 0.9rem;
    margin-left: 15%;
    margin-top: 0.5%;
  }
}
  