body {
  background-color: rgb(86, 94, 129, 0.8);
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slideP {
  display: inline-block;
  height: 90vh;
  width: 100%;
  object-fit: cover;
}
a {
  color: rgb(1, 18, 88, 0.8) !important;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}
.diviv {
  height: 6vh;
}
.navbar-container {
  width: 100%;
  background-color: rgb(1, 18, 88);
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  position: relative;
  z-index: 5;
}

.logoimg {
  height: 100%;
  object-fit: cover;
}
.navigation-buttons {
  width: 70%;
  display: flex;
  flex-direction: row;
  gap: 8%;
  justify-content: center;
  align-items: center;
}

.nav-buttons {
  color: white;
  font-size: 1.2vw;
  margin: 0%;
}
.slideshowDot.active {
  background-color: rgb(1, 18, 88);
}
.pablo-description {
  height: 18vw;
  margin: auto;
  width: 78%;
  /* padding: 10px; */
  border-radius: 35px;
  margin-bottom: 8rem;
}

.description-header {
  font-size: 2.5vw;
  padding-top: 2vw;
  text-align: start;
  color: white;
}

.description-description {
  padding-right: 10%;
  font-size: 2vw;
  padding-left: 5%;
  color: white;
}

.footer {
  height: 25vw;
  background-color: rgb(1, 18, 88);
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}
.ppp {
  margin: 0%;
}
.footer-first {
  width: 41%;
  padding-right: 20%;
  padding-left: 5%;
  padding-top: 1%;
  border-right: 1px solid rgb(255, 255, 255, 0.5);
}
.footer-first-p {
  text-align: center;
  font-size: 2vw;
  color: white;
}
.rights {
  background-color: rgb(1, 18, 88);
  color: rgb(255, 255, 255, 0.5);
  text-align: center;
}
.nav-buttons:hover {
  color: rgb(255, 255, 255, 0.5);
}
.footer-second-p:hover {
  color: rgb(255, 255, 255, 0.5);
}
.footer-first-p:hover {
  color: rgb(255, 255, 255, 0.5);
}
.images-buttons-footer:hover {
  color: rgb(255, 255, 255, 0.5);
}
.footer-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
}

.footer-second-p {
  font-size: 2vw;
  color: white;
  text-align: center;
}
.fixx {
  width: 25%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  align-items: center;
  align-content: center;
  column-gap: 5%;
}

.images-buttons-footer {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.button-footer-background {
  background: none;
  border: none;
  width: 50%;
}

.burger_menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar-container {
    height: 15vw;
    gap: 35%;
  }

  .logoimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slideP {
    height: 50vh;
  }
  .footer {
    height: 20vw;
  }

  .ppp {
    font-size: 2.5vw;
    padding-top: 3%;
    background-color: rgb(1, 18, 88);
  }
  .fixx {
    width: 40%;
  }

  .pablo-description {
    height: auto;
    width: 90%;
  }
  .slideshowDot {
    height: 10px;
    width: 10px;
  }
  .description-header {
    font-size: 4vw;
    padding-top: 1vw;
  }

  .description-description {
    font-size: 3.5vw;
  }
  .footer-first {
    width: 45%;
    padding-right: 10%;
    padding-left: 5%;
    margin-top: 3%;
  }

  .footer-first-p {
    font-size: 2.5vw;
  }

  .footer-links {
    width: 70%;
  }

  .navigation-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: rgb(1, 18, 88);
    transition: 0.7s al ease;
  }
  .navigation-buttons.visible {
    position: absolute;
    transition: 0.7s all ease;
    z-index: -1;
    top: 0;
    left: 0;
    /*hellooo*/
  }
  .nav-buttons {
    font-size: 4vw;
   
  }
  .navigation-buttons.hidden {
    transition: 0.7s all ease;
    position: absolute;
    top: -100vh;
    z-index: -10;
  }

  .burger_menu {
    display: block;
    color: white;
    margin-right: 2%;
  }

  .burger_menu i {
    width: 120px;
    height: 120px;
    color: white;
  }
}
@media screen and (max-width: 576px) {
  .navbar-container {
    height: 15vw;
  }

  .logoimg {
    width: 80%;
    object-fit: contain;
  }

  .pablo-description {
    height: auto;
    width: 95%;
    margin-bottom: 2rem;
  }

  .description-header {
    font-size: 4vw;
    padding-top: 0.5vw;
    text-align: center;
  }

  .description-description {
    font-size: 3.5vw;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
  }
  .footer {
    flex-direction: column;
    height: auto;
  }

  .footer-first {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    border-right: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
  }

  .footer-first-p {
    font-size: 4vw;
  }

  .fixx {
    width: 60%;
  }

  .footer-links {
    width: 100%;
  }
  .footer-second-p {
    font-size: 4vw;
    padding-top: 3%;
  }
}
