.container-login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-image: url(../src//images/real-estate.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.h44 {
  color: white;
}

.h44:hover {
  color: rgba(255, 255, 255, 0.5);
}

.submit-login:hover {
  color: rgba(255, 255, 255, 0.5);
}

.leftog {
  margin-left: 40%;
  background-color: rgba(1, 18, 88, 0.8);
  width: 25%;
  display: flex;
  margin-top: 12%;
  flex-direction: column;
  color: white;
}

.login-form-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1rem;
  max-width: 40rem;
  height: auto;
  gap: 1rem;
}

.sign-in {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 0px;
}

.signup-word {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.label-usernamepass {
  font-size: 1.5rem;
}

.input-usernamepass {
  font-size: 1.5rem;
}

.logooo {
  width: 70%;
  height: 70%;
  margin-left: 15%;
  object-fit: contain;
}

.submit-login {
  font-size: 1.8rem;
  background-color: rgb(86, 94, 129);
  color: white;
}

@media screen and (max-width: 768px) {
  .leftog {
    margin-left: 40%;
    background-color: rgba(1, 18, 88, 0.8);
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 50%;
    align-content: center;
    justify-content: center;
    margin-top: 25%;
    flex-direction: column;
    color: white;
  }

  .login-form-container {
    width: 80%;
    max-width: 30rem;
  }

  .logooo {
    width: 50%;
    height: 50%;
    margin-left: 25%;
  }

  .submit-login {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .leftog {
    margin-left: 40%;
    background-color: rgba(1, 18, 88, 0.8);
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  .login-form-container {
    width: 90%;
    max-width: 25rem;
  }

  .logooo {
    width: 40%;
    height: 40%;
    margin-left: 30%;
  }

  .submit-login {
    font-size: 1.3rem;
  }
}
