.containers {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 5%;
}

.containers::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../src/images/wall.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: -1;
}

.submitlogin:hover {
  color: rgba(255, 255, 255, 0.5);
}

.leftogg {
  margin: auto;
  background-color: rgba(1, 18, 88, 0.8);
  width: 80%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
}

.signin {
  width: 100%;
  text-align: center;
}

.formcontainer {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  height: auto;
  gap: 1rem;
}

.proptitlee {
  font-size: 3rem;
  font-family: var(--bs-body-font-family);
  text-align: center;
  color: white;
  margin-bottom: 2%;
}

.usernamepass {
  font-size: 1.5rem;
}

.inputusernamepass {
  font-size: 1.5rem;
}

.submitlogin {
  margin-top: 5%;
  font-size: 1.8rem;
  background-color: rgb(86, 94, 129);
  color: white;
  margin-bottom: 5%;
}

/* Responsive Adjustments */

@media (max-width: 768px) {
  .leftogg {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .formcontainer {
    width: 90%;
  }

  .proptitlee {
    font-size: 2rem;
  }

  .usernamepass,
  .inputusernamepass,
  .submitlogin {
    font-size: 1.2rem;
  }
}


