.mainTitleProduct {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: bolder;
}
.product-card {
  
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* height: auto; */
  position: relative;
  overflow: hidden;
}

.product-card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.price {
  display: flex;
  align-items: center;
  /* padding: 10px; */
  

}


.price h3 {
  color: black;
  font-size: 25px;
  padding-right: 20px;
  font-weight: 900;
}

.price h4 {
  color: #999;
  font-size: 25px;
  text-decoration: line-through;
}
.allProductsPage{
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 100dvh;
}

.card-list {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  column-gap: 104px;
  row-gap: 50px;
  margin: 0 auto;
  max-width: 1312px;
  margin-top: 70px;
}

.product-image {
  width: 100%;
  height: auto;
}

.borderImages{
  border: 1px solid black;
  border-radius: 10px;
}

.allProductsImage {
  height: 250px;
  width: 274px;
}

.allProductsTitle {
  /* padding-left: 20px; */
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
   /* text-align: center;  */
}

.allProductsPrice {
  /* padding-left: 0px; */
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  /* text-align: center; */
}

.sizeDetailsName{
  background-color: white;
}

.my-carousel {
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: black;
  font-size: 2rem;
}

.carousel-control-prev-icon:before {
  content: "<";
}

.carousel-control-next-icon:before {
  content: ">";
}

.imageProductResize{
  width:800px;
  height:800px;
}

@media (max-width: 768px) {
  .card-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 5px;
  }
}
